<section>
    <div class="shipping-image-container">
        <img class="shipping-image" src="assets/img/shipping-image.png">
    </div>
    <h3 class="shipping-title">{{ 'shipping_title' | translate }}</h3>
    <p class="shipping-text">{{ 'shipping_text' | translate }}</p>
    <div class="box-1">
        <img class="convenience-meets-community" src="assets/img/convenience-meets-community.png">
        <div class="box-1-texts">
            <strong>Convenience Meets Community</strong>
            <p>Our dedicated delivery team ensures that all items are handpicked, carefully packed, and delivered with the same love as if you had picked them yourself. Whether you're ordering for the week or need a few items to complete your dinner plans, our service is tailored to meet your needs.</p>
        </div>
    </div>
    <div class="box-2">
        <img class="how-it-works" src="assets/img/how-it-works.png">
        <div class="box-2-texts">
        <p><strong>How It Works:</strong></p>
        <ol><li><strong>Select Your Items:</strong> <p>Browse our extensive selection of organic produce, artisanal goods, and everyday essentials through our online store or mobile app.</p></li><li><strong>Choose Your Delivery Slot:</strong><p>Pick a time that works best for you. We offer same-day delivery to ensure maximum freshness.</p></li><li><strong>Receive Your Goods:</strong><p>Our friendly staff will bring your order right to your door, with a smile.</p></li></ol>
        <p>
    </div>
    </div>
    <div class="box-3">
        <img class="box-3-image" src="assets/img/sustainable-every-step-on-the-way.png">
        <div class="box-3-texts">
        <strong>Sustainable Every Step of the Way</strong>
        <p>Sustainability is at the heart of everything we do. Our delivery bicycles reduce carbon emissions and avoid traffic, making them not only environmentally friendly but efficient. By choosing GoodFellas Green Grocery, you’re not just making a choice for quality and convenience—you’re also supporting eco-friendly practices that benefit our community.</p>
        </div>
    </div>
    <div class="box-4">
        <img class="box-4-image" src="assets/img/join-our-journey.png">
        <div class="box-4-texts">
        <strong>Join Us On the Journey</strong>
        <p>Experience the joy of fresh market goods delivered by people who care. With GoodFellas Green Grocery, you’re not just a customer; you're part of a community that celebrates fresh food and healthy living.</p>
        </div>
    </div>
    <p class="shipping-end">Order today and taste the difference!</p>
</section>