<section>
    <div class="shipping-image-container">
        <img class="shipping-image" src="assets/img/shipping-image.png">
    </div>
    <h3 class="shipping-title">Freshness Delivered to Your Doorstep</h3>
    <p>At GoodFellas Green Grocery, we understand that your time is valuable and access to fresh, wholesome produce is a priority. That’s why we’re delighted to offer a personalized, eco-friendly delivery service that brings our market’s freshest fruits and vegetables directly to your home.</p>
    <p><strong>Convenience Meets Community</strong>
     Our dedicated delivery team ensures that all items are handpicked, carefully packed, and delivered with the same love as if you had picked them yourself. Whether you're ordering for the week or need a few items to complete your dinner plans, our service is tailored to meet your needs.</p>
     <p><strong>How It Works:</strong></p>
     <ol><li><strong>Select Your Items:</strong> Browse our extensive selection of organic produce, artisanal goods, and everyday essentials through our online store or mobile app.</li><li><strong>Choose Your Delivery Slot:</strong> Pick a time that works best for you. We offer same-day delivery to ensure maximum freshness.</li><li><strong>Receive Your Goods:</strong> Our friendly staff will bring your order right to your door, with a smile.</li></ol>
     <p><strong>Sustainable Every Step of the Way</strong>
        Sustainability is at the heart of everything we do. Our delivery bicycles reduce carbon emissions and avoid traffic, making them not only environmentally friendly but efficient. By choosing GoodFellas Green Grocery, you’re not just making a choice for quality and convenience—you’re also supporting eco-friendly practices that benefit our community.</p>
        <p><strong>Join Us On the Journey</strong>
            Experience the joy of fresh market goods delivered by people who care. With GoodFellas Green Grocery, you’re not just a customer; you're part of a community that celebrates fresh food and healthy living.</p>
            <p>Order today and taste the difference!</p>
</section>