<section>
    <div class="our-history">
        <div class="img-1-container">
            <img class="main-1" src="assets/img/history-future.png">
        </div>
        <h1 class="main-title">{{ 'our_history_title' | translate}}</h1>
        <p class="main-description"> {{ 'text_1' | translate }} </p>
        <div class="one">
            <img class="image-1" src="assets/img/our-history-image-1.png">
            <div class="content-1">
                <h4> {{ 'title_1' | translate }} </h4>
                <p> {{ 'description_1' | translate}} </p>
            </div>
        </div>
        <div class="two">
            <img class="image-2" src="assets/img/our-history-image-2.png">
            <div class="content-2">
                <h4>{{ 'title_2' | translate }}</h4>
                <p>{{ 'description_2' | translate }}</p>
            </div>
        </div>
        <div class="three">
            <img class="image-3" src="assets/img/our-history-image-3.png">
            <div class="content-3">
                <h4>{{ 'title_3' | translate }}</h4>
                <p>{{ 'description_3' | translate }}</p>
            </div>
        </div>
        <div class="four">
            <img class="image-4" src="assets/img/our-history-image-4.png">
            <div class="content-4">
                <h4>{{ 'title_4' | translate }}</h4>
                <p>{{ 'description_4' | translate }}</p>
            </div>
        </div>
        <div class="five">
            <img class="image-5" src="assets/img/our-history-image-5.png">
            <div class="content-5">
                <h4>{{ 'title_5' | translate }}</h4>
                <p>{{ 'description_5' | translate }}</p>
            </div>
        </div>
    </div>
</section>