<div class="container">
    <h1>Shopping Cart</h1>
    <div *ngIf="cartItems.length === 0; else cartItemsList">
      <p>Your cart is empty.</p>
    </div>
    <ng-template #cartItemsList>
      <div *ngFor="let item of cartItems" class="cart-item">
        <div class="item-info">
          <img [src]="item.imgSrc" alt="Product Image" class="product-image">
          <div class="item-details">
            <h3>{{ item.name }}</h3>
            <p>{{ item.description }}</p>
            <p>Price: {{ item.price * item.quantity | currency:'USD':'symbol':'1.2-2' }}</p>
            <div class="quantity-control">
              <button (click)="decreaseQuantity(item)" [disabled]="item.quantity === 1">-</button>
              <span>{{ item.quantity }}</span>
              <button (click)="increaseQuantity(item)">+</button>
            </div>
          </div>
        </div>
        <button (click)="removeFromCart(item.id)" class="remove-button">Remove</button>
      </div>
    </ng-template>
    <button *ngIf="cartItems.length > 0" [routerLink]="'/credit-card'" class="checkout-button">Checkout</button>
  </div>
  