<div class="slider">
  <div class="card">
    <div class="card-content" [ngStyle]="{'background-color': isDarkTheme ? '#5eda5e' : '#3b5b2d'}">
      <img class="product-image" [src]="fruit.imgSrc">
      <h2 class="product-title" [ngStyle]="{'color': isDarkTheme ? '#000000' : '#ffffff'}">{{ fruit.name | translate}}</h2>
      <p class="product-description" [ngStyle]="{'color': isDarkTheme ? '#000000' : '#ffffff'}">{{ fruit.description | translate}}</p>
      <p class="product-price" [ngStyle]="{'color': isDarkTheme ? '#000000' : '#ffffff'}">{{ fruit.price | currency:'USD':'symbol':'1.2-2' }}</p>
      <!-- Display product variants if available -->
      <div *ngIf="fruit.variants && fruit.variants.length > 0; else noVariantPlaceholder" class="variants-container">
        <div class="variants-scroll-container">
          <ul class="variants-images">
            <li class="list-element" *ngFor="let variant of fruit.variants">
              <img class="variant-image" [src]="variant.images" [alt]="variant.name">
            </li>
          </ul>
        </div>
      </div>
      <ng-template #noVariantPlaceholder>
        <div class="variants-placeholder" style="height: 50px;"></div>
      </ng-template>              
      <div class="button-product" [routerLink]="'/shopping-cart'">
        <button class="buy-now" 
          [ngStyle]="{'background-color': isDarkTheme ? '#3b5b2d' : '#5eda5e', 'color': isDarkTheme ? '#ffffff' : '#000000'}" 
          (click)="addToCart(fruit)">
          {{ 'buy_now' | translate }}
        </button>              
      </div>                                   
    </div>
  </div>
</div>
