<section>
    <div class="container">
        <div class="image-container">
            <img class="ordering-policy-img" src="assets/img/ordering-policy.png">
        </div>
        <p>
        Introducing our "Fresh to Your Doorstep" ordering policy! Embrace the charm of yesteryear with our bespoke greengrocery service. Our vintage-inspired visuals hearken back to a time of personalized service and community spirit, perfectly aligning with our modern convenience. A classic delivery van, adorned with the freshest of picks, represents our commitment to bringing the best local produce directly to you. Amidst earthy hues and a flourish of green, a glimpse of our digital ordering interface promises a seamless experience, blending traditional values with the ease of technology. Choose freshness, choose local, choose Goodfellas for your produce needs—where every order is a basket of quality and care.
        </p>
    </div>
</section>