<section class="sign-in-container">
    <h1 class="sign-in-title">Welcome to our Goodfellas family.</h1>
    <div class="register-content">
        <img class="main-page-image" src="assets/img/welcome.png">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
            <input class="username" type="text" placeholder="Username" formControlName="username" required>
            <input class="email" type="text" placeholder="E-mail" formControlName="email" required>
            <input class="password" type="password" placeholder="Password" formControlName="password" required>
            <input class="address" type="address" placeholder="Address" formControlName="address" required>
            <input type="tel" id="phone" formControlName="phone" #phone pattern="\d*" (keydown)="onlyNumbersAllowed($event)" required>
            <button type="submit" class="submit-button">Submit</button>
        </form>

            <!-- <img class="main-page-image" src="assets/img/welcome.png">
    <div class="register-form">
        <input class="username" type="text" placeholder="Username" id="username" name="username" required>
        <input class="email" type="text" placeholder="E-mail" id="email" name="email" required>
        <input class="password" type="password" placeholder="Password" id="password" name="password" required>
        <input class="address" type="address" placeholder="Address" id="address" name="address" required>
        <input type="tel" id="phone" formControlName="phone" #phone pattern="\d*" (keydown)="onlyNumbersAllowed($event)" required>
        <button type="submit" class="submit-button">Submit</button>
    </div> -->

    </div>
</section>